<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  {{#if plant.length}}
  <div class="col-md-6 project-list">
    <h3>My Current Plants:</h3>

    <!-- Loop over each object in the plants array -->
    {{#each plants as |plant| }}
    <div class="row mb-4 plant">
      <div class="col-md-5">
        <h2>
          {{{get_emoji}}}
          {{!-- when i click on the plant nickname, i want to go to the plant.handlebar with the plant.id --}}
          <a href="/plant/{{plant.id}}">{{plant.nickname}}</a>
        </h2>
        <p>This plant was last watered on: {{format_date plant.date_lastwatered}}</p>
        <p>This plant last had plant food on: {{format_date plant.date_lastfed}}</p>
        <p>I got this plant on: {{format_date plant.date_acquired}}</p>
      </div>
      <div class="col-md-7">
        <h3>Commonly Known Name: {{plant.common_name}}</h3>
        <p> <span>☀️</span>
          Amount of Sunlight needed: {{plant.sunlight}}</p>
        <p> <span>💦</span>
          Amount of Water needed: {{plant.watering}}</p>
        {{!-- i want this button to delete the plant --}}
        <button class="btn btn-sm btn-danger" data-id="{{plant.id}}">KILL ME!</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>