{{#each data}}

<div class="row mb-4" id="result-image-div">
    <div class="col-md-3">
        <img id="results-images" src="{{default_image.thumbnail}}" alt="plant-image" />
    </div>
    <div class="col-md-6">
        <button class="plantInfo">{{common_name}}</button>
        <p class="thisPlantID" hidden="true">{{id}}</p>
        <br>
        <p>This plant requires "{{watering}}" watering.</p>
        <p>This plant requires "{{sunlight}}" sunlight.</p>
    </div>
</div>

{{/each}}